#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/*HOME PAGE PROJECT LIST */
.project-list {
  display: flex;
  flex-flow: column;
  margin: 10px 10px
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Typography PAGE CSS --START-- */
.page-font {
  color: linen; 
}

.typography-label {			
  background-color: linen;
	border: 2px solid black;		
	width: 270px;		
	margin: 20px auto;		
	padding: 0 7px;		
}			
			
header h1 {			
  font-size: 1.8em;  
  color: black;
	text-align: center;		
	margin: -4px 0;		
	letter-spacing: 0.15px;
}			
			
p {			
	margin: 0;		
	display: flex;		
	justify-content: space-between;		
}			
			
.typography-divider {			
	border-bottom: 1px solid #888989;		
	margin: 1px 0;		
}			
			
.typography-bold {			
	font-weight: 800;		
}			
			
.large {			
	height: 10px;		
}			
			
.large, .medium {			
	background-color: black;		
	border: 0;		
}			
			
.medium {			
	height: 5px;		
}			
			
.small-text {			
	font-size: 0.85rem;		
}						
.calories-info {			
	display: flex;		
	justify-content: space-between;		
	align-items: flex-end;		
}			
			
.calories-info h2 {			
	margin: 0;		
}			
			
.left-container p {			
	margin: -5px -2px;		
	font-size: 2em;		
	font-weight: 700;		
}			
			
.calories-info span {			
	margin: -7px -2px;		
	font-size: 2.4em;		
	font-weight: 700;		
}			
			
.right {			
	justify-content: flex-end;		
}			
			
.indent {			
	margin-left: 1em;		
}			
			
.double-indent {			
	margin-left: 2em;		
}			
			
.daily-value p:not(.no-divider) {			
	border-bottom: 1px solid #888989;		
}			

/* Typography PAGE CSS --END-- */